h1 {
  margin: 0;
  padding: 30px 0 0;
}
h2 {
  font-weight: 600;
  color: #242e49;
  margin: 5px 0 25px;
}
h5 {
  font-weight: 600;
}
.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: #333;
  color: #6f7995;
  background: #f7fafd;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}
.clearer {
  clear: both;
}
.productContainer {
  padding-bottom: 150px;
}
.products {
  margin: 8px 10px;
  text-align: left;
  padding: 10px 20px 8px;
  /*border-bottom: 1px solid #f2f5f7;*/
  position: relative;
  background: #fff;
}
.prices {
  font-size: 20px;
  font-weight: 600;
  color: #242e49;
}
.add {
  background-color: #026cdf;
  border: none;
  padding: 10px;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 600;
}
.remove {
  background-color: #026cdf;
  border: none;
  padding: 10px;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: 600;
}
.description {
  color: rgb(58, 22, 22);
}
.indicator {
  display: inline-block;
  font-size: 25px;
  width: 50px;
  text-align: center;
}
.buttons {
  position: absolute;
  right: 10px;
  top: 10px;
}
.btn,
.btn:focus {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background: #fff;
  margin: 5px;
  outline: none;
}
.btnConferma {
  background-color: #026cdf;
  border: none;
  padding: 10px;
  color: #fff;
  width: 100%;
  height: 35px;
}
.btn-right {
  float: right;
}
.btn-close {
  background: none;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.appFooter {
  max-width: 760px;
  margin: 0 auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #026cdf;
  color: #fff;
  text-align: left;
  padding: 20px;
}
.appFooter .tot {
  /*float: left;*/
}
.appFooter .tot-price {
  font-size: 23px;
  font-weight: 600;
  padding: 0 0 0 5px;
}
.appFooter .form {
  height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.appFooter input,
.totale textarea {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
}
.appFooter input:focus,
.appFooter input:active {
  border: none;
  border-bottom: 1px solid #fff;
}

label {
  display: block;
  text-align: left;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
